<header>
  <h2 class="divider txt-large"><%= t("account.entropy.title") %></h2>
  <p class="margin-none-block-start"><%= t("account.entropy.description") %></p>
</header>

<%= render "entropy/auto_close", model: account.entropy, url: account_entropy_path, disabled: !Current.user.admin? %>

