<div class="pad-inline txt-align-center center margin-block-double txt-subtle txt-small">
  <strong class="txt-nowrap">CHIPVN</strong> - Hệ thống quản lý công việc nội bộ.
  Cần hỗ trợ? <%= mail_to "support@chipvn.com", "Gửi email cho chúng tôi", class: "txt-link" %>.
</div>
