<div class="pad-inline txt-align-center center margin-block-double txt-subtle txt-small">
  <%= render "layouts/shared/colophon" %>.
  <%= t("sessions.footer.need_help") %> <%= mail_to "happytohelp@chip.vn", t("sessions.footer.email_us"), class: "txt-link" %>.
</div>
