<div class="pad-inline txt-align-center center margin-block-double txt-subtle txt-small">
  <strong class="txt-nowrap"><%= t("sessions.footer.product_name") %></strong> - <%= t("sessions.footer.description") %>
  <%= t("sessions.footer.need_help") %> <%= mail_to "happytohelp@chip.vn", t("sessions.footer.email_us"), class: "txt-link" %>.
</div>
