<section class="settings__section flex flex-column align-center">
  <header>
    <h2 class="divider"><%= t("users.access_tokens.developer") %></h2>
    <div><%= t("users.access_tokens.manage_tokens") %> <%= link_to t("users.access_tokens.personal_access_tokens"), my_access_tokens_path, class: "btn btn--plain txt-link" %> <%= t("users.access_tokens.tokens_description") %></div>
  </header>
</section>
