servers:
  web:
    hosts:
      - fizzy-app-101
  jobs:
    hosts:
      - fizzy-app-101
  web-replica:
    hosts:
      - fizzy-app-102

proxy:
  hosts:
    - fizzy.37signals.com # will return a 404 for now
    - 37s.fizzy.37signals.com
    - dev.fizzy.37signals.com
    - qa.fizzy.37signals.com

ssh:
  user: app


x-beamer-accessory: &beamer-accessory
  image: basecamp/beamer
  registry:
    username: bcbot
    password:
      - BASECAMP_REGISTRY_PASSWORD
  options:
    user: 1000 # Match the UID of the Rails app, for volume permissions
  volumes:
    - fizzy:/storage


accessories:
  beamer-primary:
    <<: *beamer-accessory
    service: beamer-primary
    cmd: beamer primary --remove-after=1h --dir=/storage
    port: 5000:80
    roles:
      - web

  beamer-replica:
    <<: *beamer-accessory
    service: beamer-replica
    cmd: beamer replica --primary=http://fizzy-app-101:5000/ --dir=/storage
    roles:
      - web-replica
