<% @page_title = t("users.email_change.link_expired_title") %>

<div class="panel panel--centered center flex flex-column gap-half" style="--panel-size: 50ch;">
  <h1 class="txt-x-large font-weight-black margin-none">
    <%= @page_title %>
  </h1>
  <p class="margin-none-block-start margin-block-end-half">
    <%= t("users.email_change.link_expired_message") %>
  </p>

  <%= link_to t("users.email_change.change_email_button"), new_user_email_address_path(user_id: @user, script_name: @user.account.slug), class: "btn btn--link center" %>

  <p class="txt-small txt-subtle">
    <%= t("users.email_change.stuck_message_html", email_link: mail_to("support@fizzy.do", t("users.email_change.send_email"))).html_safe %>
  </p>
</div>
